footer {
    padding: 0 0 45px 0;
    position: relative;

    background: #F4F7FF;

    &::before {
            content: '';
            display: block;
            width: calc(100% - 124px);
            height: 1px;

            position: absolute;
            bottom: 105px;
            left: 50%;
            transform: translate(-50%);
    
            background-color: #949494cd;

            @media (min-width: $tablet) and (max-width: $pc) {
                bottom: 98px;
            }
        }

    @media (min-width: $tablet) and (max-width: $pc) {
        padding: 0 0 37px 0;
    }
}

.rights-reserved {
    margin-left: 105px;

    @media (min-width: $tablet) and (max-width: $pc) {
        margin-left: 95px;
    }
    @media (max-width: 767.5px) {
        margin: 0;
        text-align: center;
    }
}

.rights-reserved-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;

    margin: 0;

    display: inline-block;
    vertical-align: middle;

    color: #6A6A6A;

    @media (min-width: $tablet) and (max-width: $pc) {
        font-size: 14px;
    }
}

.rights-mark {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 23px;
    font-weight: 500;
    line-height: 1;

    margin: 0;

    display: inline-block;
    vertical-align: middle;

    color: #6A6A6A;

    @media (min-width: $tablet) and (max-width: $pc) {
        font-size: 21px;
    }
}

.section_contacts {
    padding: 106px 81px 0 115px;
    margin-bottom: 133px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (min-width: $tablet) and (max-width: $pc) {
        padding: 98px 70px 0 100px;
        margin-bottom: 120px;
    }
    @media (max-width: 767.5px) {
        padding: 180px 20px 0 20px;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;
    }
}

.contact-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;

    margin: 0;

    @media (min-width: $tablet) and (max-width: $pc) {
        font-size: 27px;
    }
    @media (max-width: 767.5px) {
        font-size: 28px;
        text-align: center;
    }
}

.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    @media (min-width: $tablet) and (max-width: $pc) {
        margin-top: 25px;
    }
}

.contact-list_item {
    height: fit-content;
    &:not(:first-child) {
        margin-top: 15px;
    }
    @media (max-width: 767.5px) {
        display: flex;
        justify-content: center;
    }
}

.contact-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #8F8F8F;
    display: flex;
    align-items: center;

    text-decoration: none;

    &:hover .contact-icon{
        fill: #444444;
    }

    @media (min-width: $tablet) and (max-width: $pc) {
        font-size: 18px;
    }

    @media (max-width: 767.5px) {
        font-size: 20px;
    }
}

.contact-icon {
    width: 17px;
    height: 17px;
    fill: #8F8F8F;

    margin-right: 10px;

    transition: 0.4s;

    @media (min-width: $tablet) and (max-width: $pc) {
        width: 15px;
        height: 15px;
    }
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    @media (max-width: 767.5px) {
        margin-top: 70px;
        justify-content: center;
    }
}

.social-list-item {
    &:not(:first-child) {
        @media (max-width: 767.5px) {
            margin-left: 45px;
        }
    }
    
}

.social-link {
    &:hover .social-icon {
        fill: #02B8E0;
    }
}

.social-icon {
    width: 38px;
    height: 38px;
    margin-right: 39px;

    transition: 0.4s;

    @media (min-width: $tablet) and (max-width: $pc) {
        width: 36px;
        height: 36px;
    }
    @media (max-width: 767.5px) {
        margin: 0;
        width: 45px;
        height: 45px;
    }
}

.logo-footer {
    width: 225px;
    height: fit-content;

    top: 70px;
    left: 50%;
    transform: translateX(-50%);

    position: absolute;

    @media (min-width: $tablet) and (max-width: $pc) {
        top: -20px;
        width: 170px;
    }

    @media (max-width: 767.5px) {
        top: -20px;
        width: 200px;
    }
}