header {
   //  background-image: url(../images/hero-bg.jpeg);
   //  background-size: cover;
   //  background-position: center;
   background-color: rgba(51, 51, 51, 0.2);
   position: relative;
   overflow: hidden;
 }
 
 .hero-bg {
   display: none;
   position: absolute;
   top: 50%;
   left: 0;
   width: 100%;
   z-index: -1;
   transform: translateY(-50%);
   @media (min-width: $tablet) {
      display: block;
   }
 }

 .hero-bg.mobile {
   display: block;
   @media (min-width: $tablet) {
      display: none;
      top: 0;
   }
 }

 .navigation {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    //padding: 0px 80px;
    backdrop-filter: blur(3px);
    z-index: 10;

    will-change: transform;
    transition: transform 500ms ease;
 }

 .navigation--pinned {
   transform: translateY(0px);
 }

 .navigation--unpinned {
   transform: translateY(-100%);
 }

 .header-logo {
    width: 70px;
    margin-left: 80px;

   @media (min-width: $tablet) and (max-width: $pc) {
      margin-left: 40px;
   }

   @media (max-width: 767.5px) {
      margin-left: 15px;
   }
 }

 .nav-link_list {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 80px;
    padding: 0;

    @media (min-width: $tablet) and (max-width: $pc) {
      margin-right: 40px;
      margin-left: 40px;
      width: 100%;
      justify-content: space-around;
    }
   
    @media (max-width: $tablet) {
      display: none;
   }
 }

 .nav-link_item {
    display: flex;
    align-items: center;
    position: relative;
    &:not(:first-child) {
        margin-left: 44px;

      @media (min-width: $tablet) and (max-width: $pc) {
         margin-left: 0;
      }
    }

    &:not(:last-child)::after {
        content: '';
        border-radius: 0.5px;
        position: absolute;
        left: 50%;
        bottom: 1px;
        width: 0px;
        height: 2px;
        background: #333;
        transition: all 0.45s;
    }
    &:hover:after {
        width: 100%;
        left: 0;
    }
 }

 .nav-link {
    color: black;
    text-decoration: none;
    padding: 10px 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 1.5;
 }

 .allegro-link {
    padding: 8px 10px;
    color: white; 
    display: block;
    background: #02B8E0;

    transition: 0.25s;
    &:hover,
    &:focus {
            box-shadow: 0 0.5em 0.5em -0.4em adjust-hue(#02B8E0, 45deg);
            transform: translateY(-0.25em);
        }
 }