.hero {
    padding: 130px 0;

    @media (min-width: $tablet) and (max-width: $pc) {
        padding: 100px 0;
    }
    @media (max-width: 767.5px) {
        padding: 90px 0 70px 0;
    }
}

.hero-title {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 0.95;
    color: #FFFFFF;

    margin: 0;
    margin-left: 160px;

    @media (min-width: $tablet) and (max-width: $pc) {
        margin-left: 100px;
        font-size: 65px;
    }
    @media (max-width: 767.5px) {
        margin-left: 0;
        text-align: center;
        font-size: 50px;
    }
}

.hero-subtitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;   
    color: #FFFFFF;

    margin: 35px 0 0 170px;

    @media (min-width: $tablet) and (max-width: $pc) {
        margin: 30px 0 0 110px;
    }
    @media (max-width: 767.5px) {
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }
}

.hero-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 18px 60px;
    background: #FFFFFF;
    border-radius: 7px;

    margin-left: 180px;
    margin-top: 70px;
    
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #02B8E0;
    text-transform: uppercase;

    transition: box-shadow ease-out 0.6s, color linear 0.2s, transform linear 0.1s;

    &:hover,
    &:focus {
        box-shadow: inset 300px 0 0 0 #02B8E0;
        color: white; 
    }

    &:active {
        color: rgb(195, 195, 195);
        transform: translateY(10px);
    }

    @media (min-width: $tablet) and (max-width: $pc) {
        padding: 16px 35px;
        margin-left: 110px;
        margin-top: 40px;
    }

    @media (max-width: 767.5px) {
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        padding: 16px 30px;
        transition: box-shadow ease-out 0.2s, color linear 0.2s, transform linear 0.1s;
    }
}