.loading {
    width: 200px;
    height: 200px;
    border: 4px solid #02B8E0;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    z-index: 100;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loading::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-bottom-color: #FF3D00;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);;
    z-index: 99;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}