.section_partners {
    background-color: #F4F7FF;

    padding: 81px 0;

    @media (max-width: $pc) {
        padding: 60px 0;
    }
}

.partners-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 81px;
    text-transform: uppercase;
    text-align: center;

    margin: 0;

    @media (min-width: $tablet) and (max-width: $pc) {
        font-size: 60px;
    }
    @media (max-width: 767.5px) {
        font-size: 50px;
    }
}

.partner-link {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    width: 300px;
    transition: 0.3s ease-in;

    cursor: default;

    &:hover {
        border: 1px solid #02B8E0;

        & .partner-icon {
            fill: #02B8E0;
        }
    }

        @media (min-width: $tablet) and (max-width: $pc) {
            width: 170px;
        }
        @media (max-width: 767.5px) {
            width: 200px;
        }
}

.partner-list {
    list-style: none;
    padding: 0; 
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    @media (max-width: 767.5px) {
        flex-direction: column;
    }
    
}

.partner-list_item {
    @media (max-width: 767.5px) {
        display: flex;
        justify-content: center;
        &:not(:first-child) {
            margin-top: 50px;
        }
    }
}

.partner-icon {
    fill: #AFB1B8;
    transition: 0.3s ease-in;

    @media (min-width: $tablet) and (max-width: $pc) {
        width: 150px;
        height: 90px;
    }

    @media (max-width: 767.5px) {
        width: 150px;
        height: 70px;
    }
}