.section_partners {
    background-color: #F4F7FF;

    padding: 81px 0;
}

.partners-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 81px;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
}