<section class="section_entry" id="services">
    <div class="latest_box">
        <div class="latest">
            <h4 class="latest_title">latest arrival</h4>
            <h3 class="latest_info">Audi A4 parts</h3>
        </div>
        
        <div class="latest-info_wrapper">
            <h4 class="latest_title">previous arrival</h4>
            <h3 class="latest_info">Audi Q7 parts</h3>
        </div>
    </div>
    <ul class="entry-list">
        <li class="entry-list_item">
            <div class="entry-img_wrapper">
                <img 
                src="../images/entry-pic-2-progressive.jpeg" 
                alt="list picture" class="entry-list_img" 
                loading="lazy">
            </div>
            <div class="entry-info_wrapper">
                <h3 class="entry-list_title">Lorem</h3>
                <p class="entry-list_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam fugit, quos ratione accusantium consectetur unde. Numquam tempora eaque delectus quis excepturi magnam, hic quasi repellat asperiores temporibus soluta deleniti ullam.</p>
            </div>
        </li>
        <li class="entry-list_item">
            <div class="entry-info_wrapper">
                <h3 class="entry-list_title">Ipsum</h3>
                <p class="entry-list_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut non, enim reiciendis deleniti nihil minima labore quisquam, nobis atque expedita molestias sint quidem, minus maiores aliquam quae placeat! Ipsa, assumenda!</p>
            </div>
            <div class="entry-img_wrapper">
                <img 
                src="../images/entry-pic-1-progressive.jpeg" 
                alt="list picture" 
                class="entry-list_img"
                loading="lazy">
            </div>
        </li>
    </ul>
</section>