<section class="section_entry" id="services">
    <div class="latest_box">
        <div class="latest">
            <h4 class="latest_title">latest arrival</h4>
            <h3 class="latest_info">Audi A4 parts</h3>
        </div>
        
        <div class="latest-info_wrapper">
            <h4 class="latest_title">previous arrival</h4>
            <h3 class="latest_info">Audi Q7 parts</h3>
        </div>
    </div>
    <ul class="entry-list">
        <li class="entry-list_item">
            <div class="entry-img_wrapper">
                <img 
                src="../images/entry-pic-2.jpg" 
                alt="list picture" class="entry-list_img" 
                loading="lazy">
            </div>
            <div class="entry-info_wrapper">
                <h3 class="entry-list_title">Finest Parts</h3>
                <p class="entry-list_text">At in4group, we are proud to offer our customers the finest selection of car parts and accessories available.
                We provide you with cheap and fast solutions for your car maintenance questions. We carry
                top brands like Volkswagen, Audi, and Emole.</p>
            </div>
        </li>
        <li class="entry-list_item">
            <div class="entry-info_wrapper">
                <h3 class="entry-list_title">Reliable</h3>
                <p class="entry-list_text">Uniting the world's most respected brands and the top players in the industry, we are able to provide the most reliable service for your needs. Our inventory is updated daily, so we can insure that you find the part you need, when you need it.</p>
            </div>
            <div class="entry-img_wrapper">
                <img 
                src="../images/entry-pic-1.jpg" 
                alt="list picture" 
                class="entry-list_img"
                loading="lazy">
            </div>
        </li>
    </ul>
    <ul class="entry-list_mobile">
        <li class="entry-list_item">
            <div class="entry-img_wrapper">
                <img src="../images/entry-pic-2.jpg" alt="list picture" class="entry-list_img" loading="lazy">
            </div>
            <div class="entry-info_wrapper">
                <h3 class="entry-list_title">Finest Parts</h3>
                <p class="entry-list_text">At in4group, we are proud to offer our customers the finest selection of car parts and accessories available. 
                we provide you with cheap and fast solutions for your car maintenance questions. We carry
                top brands like Volkswagen, Audi, and Emole.</p>
            </div>
        </li>
        <li class="entry-list_item">
            <div class="entry-img_wrapper">
                <img src="../images/entry-pic-1.jpg" alt="list picture" class="entry-list_img" loading="lazy">
            </div>
            <div class="entry-info_wrapper">
                <h3 class="entry-list_title">Reliable</h3>
                <p class="entry-list_text">Uniting the world's most respected brands and the top players in the industry, we are able to provide the most reliable
                service for your needs. Our inventory is updated daily, so we can insure that you find the part you need, when you need
                it.</p>
            </div>
        </li>
    </ul>
</section>