<section class="section_contacts">

    <div>
        <h4 class="contact-title">Contact</h4>

        <ul class="contact-list">

            <li class="contact-list_item">
                <a class="contact-link" href="tel:+48573671000">
                    <svg class="contact-icon">
                        <use href="../images/symbol-defs.svg#icon-mobile2" />
                    </svg>
                    +48 573 671 000</a>
            </li>

            <li class="contact-list_item">
                <a class="contact-link" href="mailto:in4group@gmail.com">
                    <svg class="contact-icon">
                        <use href="../images/symbol-defs.svg#icon-envelop" />
                    </svg>
                    in4group@gmail.com</a>
            </li>

            <li class="contact-list_item">
                <a class="contact-link" target="_blank" href="https://www.google.com/maps/place/52%C2%B005'46.3%22N+21%C2%B000'31.3%22E/@52.096206,21.0065123,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0xb15473e0652ff10b!7e2!8m2!3d52.096206!4d21.0087013">
                    <svg class="contact-icon">
                        <use href="../images/symbol-defs.svg#icon-office" />
                    </svg>
                    ul. Raszynska 1010-12 A</a>
            </li>

        </ul>
    </div>

    <img 
    src="../images/logo.svg" 
    alt="logo footer"
    class="logo-footer">

    <ul class="social-list">

        <li class="social-list-item">
            <a class="social-link" href="https://www.instagram.com/in4group.cars/">
                <svg class="social-icon">
                    <use href="../images/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>

        <li class="social-list-item">
            <a class="social-link" href="">
                <svg class="social-icon">
                    <use href="../images/symbol-defs.svg#icon-facebook2"></use>
                </svg>
            </a>
        </li>

    </ul>
</section>

<div class="rights-reserved">
    <span class="rights-mark">&copy; </span>
    <p class="rights-reserved-text">2022 All rights reserved</p>
</div>