<section class="section_contacts">

    <div>
        <h4 class="contact-title">Contact</h4>

        <ul class="contact-list">

            <li class="contact-list_item">
                <a class="contact-link" href="tel:+48573671011">
                    <svg class="contact-icon">
                        <use href="../images/symbol-defs.svg#icon-mobile2" />
                    </svg>
                    +48 573 671 011</a>
            </li>

            <li class="contact-list_item">
                <a class="contact-link" href="mailto:in4group.cars@gmail.com">
                    <svg class="contact-icon">
                        <use href="../images/symbol-defs.svg#icon-envelop" />
                    </svg>
                    in4group.cars@gmail.com</a>
            </li>

            <li class="contact-list_item">
                <a class="contact-link" target="_blank" href="https://goo.gl/maps/VX7P24fxhBDETbQe6">
                    <svg class="contact-icon">
                        <use href="../images/symbol-defs.svg#icon-office" />
                    </svg>
                    Williama Heerleina Lindleya 16, 02-013 Warsaw</a>
            </li>

        </ul>
    </div>

    <img 
    src="../images/logo.svg" 
    alt="logo footer"
    class="logo-footer">

    <ul class="social-list">

        <li class="social-list-item">
            <a class="social-link" href="https://www.instagram.com/in4group.cars/">
                <svg class="social-icon">
                    <use href="../images/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>

        <li class="social-list-item">
            <a class="social-link" href="https://www.facebook.com/in4grup">
                <svg class="social-icon">
                    <use href="../images/symbol-defs.svg#icon-facebook2"></use>
                </svg>
            </a>
        </li>

    </ul>
</section>

<div class="rights-reserved">
    <span class="rights-mark">&copy; </span>
    <p class="rights-reserved-text">2022 All rights reserved</p>
</div>