<section class="section_form" id="contact-form">
    <h3 class="form-title">Let's get in touch</h3>
    <p class="form-subtitle">Enter your contact data and we will call you back soon</p>
    <form class="contact-form">
        <div class="user-box">
            <input type="text" name="name" required="" class="form-input">
            <label class="input-label">Your name</label>
        </div>
        <div class="user-box">
            <input type="tel" name="telephone" required="" class="form-input">
            <label class="input-label">Phone number</label>
        </div>
        <div class="user-box">
            <input type="text" name="message" required="" class="form-input">
            <label class="input-label">Message</label>
        </div>
        <button type="submit" href="#" class="submit-button">
            Submit
        </button>
    </form>
    <a title="calling girl png" href="https://pngimage.net/calling-girl-png/" class="calling-girl">
        <img src="../images/man.png" alt="calling woman picuture" loading="lazy">
    </a>
</section>