<nav class="navigation">
    <a href="./" class="header-logo">
        logo
    </a>

    <ul class="nav-link_list">
        <li class="nav-link_item">
            <a href="#header" class="nav-link">
                Home
            </a>
        </li>

        <li class="nav-link_item">
            <a href="#footer" class="nav-link">
                Contact
            </a>
        </li>

        <li class="nav-link_item">
            <a href="#services" class="nav-link">
                Services
            </a>
        </li>
    </ul>

    <a href="https://allegro.pl/uzytkownik/autodistribution" class="allegro-link">
        Visit Online Shop
    </a>
</nav>
