<img src="../images/hero-bg.jpeg" alt="hero background" class="hero-bg">
<img src="../images/hero-bg-mobile.jpg" alt="hero background" class="hero-bg mobile">

<nav class="navigation">
    <a href="./">
        <img src="../images/logo-dark.svg" alt="logo" class="header-logo">
    </a>

    <ul class="nav-link_list">
        <li class="nav-link_item">
            <a href="#" class="nav-link">
                Home
            </a>
        </li>

        <li class="nav-link_item">
            <a href="#footer" class="nav-link">
                Contact
            </a>
        </li>

        <li class="nav-link_item">
            <a href="#services" class="nav-link">
                Services
            </a>
        </li>

        <li class="nav-link_item">
            <a href="https://allegro.pl/uzytkownik/autodistribution" class="nav-link allegro-link" target="_blank">
                Visit Online Shop
            </a>
        </li>
    </ul>

    
</nav>
