<img src="../images/hero-bg.jpg" alt="hero background" class="hero-bg">
<img src="../images/hero-bg-mobile.jpg" alt="hero background" class="hero-bg mobile">

<nav class="navigation" aria-label="desktop">
    <a href="./">
        <img src="../images/logo-dark.svg" alt="logo" class="header-logo">
    </a>

    <ul class="nav-link_list">
        <li class="nav-link_item">
            <a href="#" class="nav-link">
                Home
            </a>
        </li>

        <li class="nav-link_item">
            <a href="#footer" class="nav-link">
                Contact
            </a>
        </li>

        <li class="nav-link_item">
            <a href="#services" class="nav-link">
                Services
            </a>
        </li>

        <li class="nav-link_item">
            <a href="https://allegro.pl/uzytkownik/autodistribution" class="nav-link allegro-link" target="_blank">
                Visit Online Shop
            </a>
        </li>
    </ul>
</nav>

<nav class="nav-mobile" aria-label="mobile">

    <a href="./">
        <img src="../images/logo-dark.svg" alt="logo" class="header-logo">
    </a>

    <div class="slide-out_button">
        <div class="slide-out_burger"></div>
    </div>
    
    <div class="slide-out-menu">
        <ul class="nav-mobile-list">
            <li class="nav-mobile_item">
                <a href="#" class="nav-mobile_link">Home</a>
            </li>
            <li class="nav-mobile_item">
                <a href="#footer" class="nav-mobile_link">Contact</a>
            </li>
            <li class="nav-mobile_item">
                <a href="#services" class="nav-mobile_link">Services</a>
            </li>
            <li class="nav-mobile_item">
                <a href="https://allegro.pl/uzytkownik/autodistribution" class="nav-mobile_link  allegro-link_mobile">Visit online shop</a>
            </li>
        </ul>
    </div>
</nav>