<section class="section_partners">
    <h3 class="partners-title">partners</h3>
    <ul class="partner-list">
        <li class="partner-list_item">
            <a class="partner-link" target="_blank" href="https://www.audi.com/en.html">
                <svg class="partner-icon">
                    <use href="../images/symbol-defs.svg#icon-audi"></use>
                </svg>
            </a>
        </li>
        <li class="partner-list_item">
            <a class="partner-link" target="_blank" href="https://www.vw.com/en.html">
                <svg class="partner-icon">
                    <use href="../images/symbol-defs.svg#icon-volkswagen"></use>
                </svg>
            </a>
        </li>
        <li class="partner-list_item">
            <a class="partner-link" target="_blank" href="https://emole-express.com/">
                <svg class="partner-icon">
                    <use href="../images/symbol-defs.svg#icon-emole"></use>
                </svg>
            </a>
        </li>
    </ul>
</section>