<section class="section_partners">
    <h3 class="partners-title">partners</h3>
    <ul class="partner-list">
        <li class="partner-list_item">
            <a class="partner-link" href="">
                <svg class="partner-icon">
                    <use></use>
                </svg>
            </a>
        </li>
        <li class="partner-list_item">
            <a class="partner-link" href="">
                <svg class="partner-icon">
                    <use></use>
                </svg>
            </a>
        </li>
        <li class="partner-list_item">
            <a class="partner-link" href="">
                <svg class="partner-icon">
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>
</section>