<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="root">
      <header>
        <%= require('html-loader!./partials/nav.html').default %>
        <%= require('html-loader!./partials/hero.html').default %>
      </header>
      <main>
        <%= require('html-loader!./partials/entry.html').default %>
        <%= require('html-loader!./partials/partners.html').default %>
        <%= require('html-loader!./partials/form.html').default %>
      </main>
      <footer id="footer">
        <%= require('html-loader!./partials/footer.html').default %>
      </footer>
    </div>
  </body>
</html>
