<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" 
    content="in4group is an international company for the distribution of car spare parts in Poland and Ukraine. Our products are established based on the international standards. We are constantly expanding our business. Our customers can be found from all over the world. We provide the range of auto parts, such as car body parts, auto parts, engine parts, accessories, etc. We are equipped with a large warehouse and all the necessary tools for wholesale and retail business.">

    <title>In4group Autodistribution | Official Web Page</title>
  </head>
  <body>
    <div id="root">
      <header>
        <%= require('html-loader!./partials/nav.html').default %>
        <%= require('html-loader!./partials/hero.html').default %>
      </header>
      <main>
        <%= require('html-loader!./partials/entry.html').default %>
        <%= require('html-loader!./partials/partners.html').default %>
        <%= require('html-loader!./partials/form.html').default %>
      </main>
      <footer id="footer">
        <%= require('html-loader!./partials/footer.html').default %>
      </footer>
    </div>
  </body>
</html>
